img {
  object-fit: cover;
  margin: 10px 10px;
  image-resolution: 300dpi;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
}
/* .container{
    padding: 10px;
    max-width: 540px;
} */
.card {
  transition: 0.2s ease;
}
.card:hover {
  transform: scale(1.01) !important;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
}
@media(max-width:570px){
    
  .card{
      width: 350px !important;
  }
}
